## @param ChekBoxId:title=Unique checkbox ID|type=string|required=true|default=1|desc=If more than one checkbox in page, change this to a unique name.
## @param Label:title=Label to Set|type=string|desc=Enter page label|required=true
## @param CheckLabel:title=Checkbox label|type=string|desc=Checkbox label

#set ( $checkboxId = "" )
#set ($checkboxId = "checkboxlabel-" + $paramChekBoxId )
#set ( $options = "" )
#set ( $options = "Sí,No" )
#set ( $checklabel = "")
#set ($checklabel = $paramCheckLabel )
#set ( $label = $paramLabel )
#set ( $toplabel = "" )
#if ( $label == "" )
  #set ( $toplabel = "top-label" )
#end
#set ( $pageId = $content.id )
<form class="aui $toplabel">
    <div class="field-group" style="padding:0px">
    #if ( $checklabel != "" )
        <label for="$checkboxId">$checklabel</label>
    #end

    <input class="checkbox dynCheckbox" type="checkbox" name="$checkboxId" id="$checkboxId" $checked value="checked" />

  </div>
</form>

<script>
AJS.toInit(function() {
  var canEdit = true;

  #if ( $permissionHelper.canEdit($userAccessor.getUserByName($req.remoteUser), $content) )
  jQuery("#$checkboxId").click(function() {
    var checkObject = this;
    jQuery.ajax({
      url: contextPath + "/rest/api/content/${pageId}/label",
      success: function(dropdownData) {
        found = false;
        dropdownData.results.forEach(search);
        function search(item, index) {
            if (item.name == "${label}"){
            found = true;
            }
        }
        if (found) {  // contains name: ${label}
            if (!jQuery(checkObject).prop('checked')) {

                jQuery.ajax({
                    contentType: 'application/json',
                    type: 'DELETE',
                    url: contextPath + "/rest/api/content/${pageId}/label?id=${pageId}&name=${label}"

                });


            }
        }
        else{  // label not exists
            if (jQuery(checkObject).prop('checked')) {
                jQuery.ajax({  // data = {"prefix": "global", "name": label}
                    contentType: 'application/json',
                    type: 'POST',
                    url: contextPath + "/rest/api/content/${pageId}/label",
                    data: JSON.stringify({
                                            prefix: "global",
                                            name: "${label}"
                    })
                });
            }
        }

      },
      error: function(response) {

      }
    });
  });
  #else
    canEdit = false;
  #end

  jQuery.ajax({
    url: contextPath + "/rest/api/content/${pageId}/label",
    success: function(labelsData) {
        found = false;
        labelsData.results.forEach(search);
        function search(item, index) {
            if (item.name == "${label}"){
                found = true
            }
        }
       if (found){  // contains name: ${label}
            jQuery("#$checkboxId").prop('checked', true);
       }
       else{
            jQuery("#$checkboxId").prop('checked', false);
       }
      if (!canEdit) {
            jQuery("#$checkboxId").prop( "disabled", true );
      }
    }
  });
});
</script>