## @param DropdownId:title=Unique dropdown ID|type=string|required=true|default=1|desc=If more than one dropdown in page, change this to a unique name.
## @param Label:title=Label to Set|type=string|desc=Enter page label|required=true
## @param DropLabel:title=DropDown label|type=string|desc=DropDown selector label

#set ( $dropdownId = "" )
#set ( $dropdownId = "dropdownlabel-" + $paramDropdownId )
#set ( $options = "" )
#set ( $options = "Sí,No" )
#set ( $droplabel = "")
#set ( $droplabel = $paramDropLabel )
#set ( $label = $paramLabel )
#set ( $toplabel = "" )
#if ( $label == "" )
  #set ( $toplabel = "top-label" )
#end
#set ( $pageId = $content.id )
<form class="aui $toplabel">
    <div class="field-group" style="padding:0px">
    #if ( $droplabel != "" )
        <label for="$dropdownId">$droplabel</label>
    #end
    <select class="select" id="$dropdownId" name="$dropdownId">
    #foreach ( $option in $options.split(",") )
      #set ( $option = $option.trim().replaceAll('"', '' ) )
      <option value="$option">$option</option>
    #end
    </select>
  </div>
</form>
<script>
AJS.toInit(function() {
  var canEdit = true;

  #if ( $permissionHelper.canEdit($userAccessor.getUserByName($req.remoteUser), $content) )
  jQuery("#$dropdownId").change(function() {
    var dropdownObject = this;
    jQuery.ajax({
      url: contextPath + "/rest/api/content/${pageId}/label",
      success: function(dropdownData) {
        found = false;
        dropdownData.results.forEach(search);
        function search(item, index) {
            if (item.name == "${label}"){
            found = true;
            }
        }
        if (found) {  // contains name: ${label}
            if (jQuery(dropdownObject).val() == "No") {

                jQuery.ajax({
                    contentType: 'application/json',
                    type: 'DELETE',
                    url: contextPath + "/rest/api/content/${pageId}/label?id=${pageId}&name=${label}"

                });


            }
        }
        else{  // label not exists
            if (jQuery(dropdownObject).val() == "Sí") {
                jQuery.ajax({  // data = {"prefix": "global", "name": label}
                    contentType: 'application/json',
                    type: 'POST',
                    url: contextPath + "/rest/api/content/${pageId}/label",
                    data: JSON.stringify({
                                            prefix: "global",
                                            name: "${label}"
                    })
                });
            }
        }

      },
      error: function(response) {

      }
    });
  });
  #else
    canEdit = false;
  #end

  jQuery.ajax({
    url: contextPath + "/rest/api/content/${pageId}/label",
    success: function(dropdownData) {
        found = false;
        dropdownData.results.forEach(search);
        function search(item, index) {
            if (item.name == "${label}"){
            found = true
            }
        }
       if (found){  // contains name: ${label}
        jQuery("#$dropdownId").val("Sí");
       }
       else{
        jQuery("#$dropdownId").val("No");
       }
      if (!canEdit) {
        jQuery("#$dropdownId").prop( "disabled", true );
      }
    }
  });
});
</script>