## @param DropdownId:title=Unique dropdown ID|type=string|required=true|default=1|desc=If more than one dropdown in page, change this to a unique name.
## @param Labels:title=Labels|type=string|required=true|desc=Enter desired label options separated by a comma. Expected lower case and with no spaces.
## @param Options:title=Options|type=string|required=true|desc=Enter desired visual options separated by a comma. Expected same order than labels.
## @param DropLabel:title=DropDown field label|type=string|desc=DropDown selector label
## @param LeftPadding:title=Left Padding|type=string|desc=Ej. 120px|default=120px

#set ( $dropdownId = "" )
#set ( $dropdownId = "dropdownlabel-" + $paramDropdownId )
#set ( $options = $paramOptions )
#set ( $droplabel = "")
#set ( $droplabel = $paramDropLabel )
#set ( $leftPadding = "padding-left:" + $paramLeftPadding)
#set ( $labels = $paramLabels.split(",") )
#set ( $toplabel = "" )

#set ( $pageId = $content.id )
<form class="aui $toplabel">
    <div class="field-group" style="$leftPadding">
    #if ( $droplabel != "" )
        <label for="$dropdownId">$droplabel</label>
    #end
    #set ( $labelsArr = [] )
    #foreach ( $l in $labels )
       #set ( $bool_result = $labelsArr.add($l.trim().toLowerCase().replace(" ","_")) )
    #end
    <select class="select" id="$dropdownId" name="$dropdownId">

    #foreach ( $option in $options.split(",") )
      #set ( $mycount = $velocityCount - 1 )
      #set ( $val = $labelsArr.get($mycount) )
      <option value="$val">$option</option>
    #end
    </select>
  </div>
</form>
<script>
AJS.toInit(function() {
  var canEdit = true;
  var labels_arr = "$labels".split(",");
  labels_arr.forEach((item, index, array) => array[index] = item.trim().toLowerCase().replace(" ", "_"))
  #if ( $permissionHelper.canEdit($userAccessor.getUserByName($req.remoteUser), $content) )
  jQuery("#$dropdownId").change(function() {
    var dropdownObject = this;

    var selectedOption = jQuery(dropdownObject).val().trim();
    let method = "POST";
    let data = JSON.stringify({ name: selectedOption });
    if (selectedOption === ""){
        method = "GET",
        data = null
    }

    jQuery.ajax({  // add selected option
          contentType: 'application/json',
          type: method,
          url: contextPath + "/rest/api/content/${pageId}/label",
          data: data,
          success: function (labelsData) {
              labelsData.results.forEach(function (labelItem) {
                  labelName = labelItem.name
                  // just remove not selected options
                  // do not remove label if it's the selected option or if it's not a label option
                  if (labelName === selectedOption || !labels_arr.find((str) => str === labelName) ){
                      return
                  }
                  jQuery.ajax({  // delete not selected options
                      contentType: 'application/json',
                      type: 'DELETE',
                      url: contextPath + "/rest/api/content/${pageId}/label?id=${pageId}&name=" + labelName

                  });
              })
          }
      });

  });
  #else
    canEdit = false;
  #end

  jQuery.ajax({
    url: contextPath + "/rest/api/content/${pageId}/label",
    success: function(getLabelsData) {
        labelFound = "";
        getLabelsData.results.some(search);
        function search(item, index) {
            if (labels_arr.find((str) => str === item.name)){
                labelFound = item.name
                return true
            }
            return false
        }
        jQuery("#$dropdownId").val(labelFound);
      if (!canEdit) {
        jQuery("#$dropdownId").prop( "disabled", true );
      }
    }
  });
});
</script>